<style>
  .section-css-demo > * + * {
    margin-top: 0.25rem;
  }

  .bordered {
    border: 1px dashed var(--border);
  }
</style>

<section class="section-css-demo container padding">
  <p class="h0">.h0</p>
  <p class="h1">.h1</p>
  <p class="h2">.h2</p>
  <p class="h3">.h3</p>
  <p class="h4">.h4</p>
  <p class="h5">.h5</p>
  <p class="h6">.h6</p>
  <p class="font-heading">.font-heading</p>
  <br>
  <p>
    <span class="text-dark">.text-dark</span>
    <span class="text-light">.text-light</span>
    <span class="text-accent-1">.text-accent-1</span>
    <span class="text-accent-2">.text-accent-2</span>
    <span class="text-error">.text-error</span>
  </p>
  <p class="text-center">.text-center</p>
  <p class="bg">.bg</p>
  <p class="bg-dark">.bg-dark</p>
  <br>
  <div class="container bordered">.container</div>
  <div class="container-sm bordered">.container-sm</div>
  <div class="container-half bordered">.container-half</div>
  <div class="padding bordered">.padding</div>
  <div class="padding-x bordered">.padding-x</div>
  <div class="padding-y bordered">.padding-y</div>
  <br>
  <p>
    <a href="#" class="link">.link</a>
    <a href="#" class="link-underline">.link-underline</a>
    <a href="#" class="link accent-1">.link.accent-1</a>
    <a href="#" class="link accent-2">.link.accent-2</a>
  </p>
  <p>
    <button class="button">.button</button>
    <button class="button" disabled>.button[disabled]</button>
  </p>
  <p>
    <button class="action">.action</button>
    <button class="action-alt">.action-alt</button>
    <button class="action accent-2">.action.accent-2</button>
    <button class="action-alt accent-2">.action-alt.accent-2</button>
    <button class="action lg">.action.lg</button>
  </p>
  <p><button class="action full">.action.full</button></p>
  <p>
    <input class="input" type="email" placeholder=".input[type=email]" />
    <select class="input">
      <option default selected disabled>select.input</option>
    </select>
  </p>
</section>
