<style>
  .section-css-demo > * + * {
    margin-top: 0.25rem;
  }
</style>

<section class="section-css-demo max-w-screen-lg mx-auto py-8 px-4">
  <p class="font-heading">.font-heading</p>
  <br>
  <p>
    <span class="text-accent-1">.text-accent-1</span>
    <span class="text-accent-2">.text-accent-2</span>
  </p>
  <p class="bg">.bg</p>
  <p class="bg-dark">.bg-dark</p>
  <br>
  <p>
    <a href="#" class="link">.link</a>
    <a href="#" class="link-underline">.link-underline</a>
    <a href="#" class="link accent-1">.link.accent-1</a>
    <a href="#" class="link accent-2">.link.accent-2</a>
  </p>
  <p>
    <button class="button">.button</button>
    <button class="button" disabled>.button[disabled]</button>
  </p>
  <p>
    <button class="action">.action</button>
    <button class="action-alt">.action-alt</button>
    <button class="action accent-2">.action.accent-2</button>
    <button class="action-alt accent-2">.action-alt.accent-2</button>
    <button class="action lg">.action.lg</button>
  </p>
  <p><button class="action full">.action.full</button></p>
  <p>
    <input class="input" type="email" placeholder=".input[type=email]" />
    <select class="input">
      <option default selected disabled>select.input</option>
    </select>
  </p>
</section>
