<section class="page-width py-8 px-4 paragraph">
  <p>
    <a href="#" class="link">.link</a>
    <a href="#" class="link-underline">.link-underline</a>
    <a href="#" class="link primary">.link.primary</a>
    <a href="#" class="link secondary">.link.secondary</a>
  </p>
  <p>
    <button class="action">.action</button>
    <button class="action-alt">.action-alt</button>
    <button class="action secondary">.action.secondary</button>
    <button class="action-alt secondary">.action-alt.secondary</button>
    <button class="action lg">.action.lg</button>
  </p>
  <p><button class="action full">.action.full</button></p>
  <p>
    <button class="button">.button</button>
    <button class="button" disabled>.button[disabled]</button>
  </p>
  <p>
    <input class="input" type="email" placeholder=".input[type=email]" />
    <select class="input">
      <option default selected disabled>select.input</option>
    </select>
  </p>
</section>
