{%- comment -%}
  product
{%- endcomment -%}

<div>
{%- if product.available -%}
  {%- if product.compare_at_price > product.price -%}
    <s>{{ product.compare_at_price | money }}</s><br>
  {%- endif -%}

  {{ product.price | money }}

{%- else -%}
  Unavailable

{%- endif -%}
</div>
