{%- comment -%}
  product
{%- endcomment -%}

<article class="product-item">
  {%- comment -%}
  <a href="{{ product.url }}">
    <img
      {% render 'srcset', image: product.featured_image, width: 100 %}
      alt="{{ product.featured_image.alt | default: product.title | escape }}"
      loading="lazy"
    />
  </a>
  {%- endcomment -%}

  <a href="{{ product.url }}" class="link accent1">
    {{ product.title }}
  </a>
</article>
