{%- comment -%}
  product
{%- endcomment -%}

{%- liquid
  assign available = product.selected_or_first_available_variant.available
-%}

{%- form 'product', product -%}
  <label>
    <input type="number" class="input" name="quantity" min="1" max="10" value="1" size="2" />
  </label>

  <label>
    <select name="id" class="input">
      {%- for variant in product.variants -%}
        <option
          value="{{ variant.id }}"
          {% if variant == product.selected_or_first_available_variant -%}
            selected
          {%- endif %}
        >
          {{ variant.title }} ({{ variant.price | money }})
        </option>
      {%- endfor -%}
    </select>
  </label>

  <div>
    {%- if available -%}
      <button class="action">Add to cart</button>
    {%- else -%}
      <button class="action" disabled>Sold out</button>
    {%- endif -%}

    {%- if section.settings.show_dynamic_checkout -%}
      {{ form | payment_button }}
    {%- endif -%}
  </div>
{%- endform -%}
