<form class="search-form" action="{{ routes.search_url }}">
  <label>
    <input
      class="input"
      name="q"
      value="{% if search.performed -%}{{ search.terms | escape }}{%- endif %}"
      type="search"
      placeholder="Search"
    />
  </label>

  <button class="button" type="submit">Search</button>

  {%- if settings.predictive_search_enabled -%}
    <ul class="search-suggestions"></ul>
  {%- endif -%}
</form>
