{{ 'customer.css' | asset_url | stylesheet_tag }}

<div class="container-half section-padding side-padding text-center">
  <section id="forgot" class="richtext">
    <h2 class="h1">Forgot your password?</h2>

    {% form 'recover_customer_password' %}
      {{ form_errors | default_errors }}

      <fieldset class="col-2">
        <label class="colspan">
          <input class="input" name="email" value="" autocomplete="email" type="email" placeholder="Email" required />
        </label>

        <button class="action colspan">Retrieve password</button>
      </fieldset>
    {% endform %}

    <div>
      <a href="#login" class="link">Cancel</a>
    </div>
  </section>

  <section id="login" class="richtext">
    <h1 class="h1">Login</h2>

    {% form 'customer_login', return_to: routes.root_url %}
      {{ form_errors | default_errors }}

      <fieldset class="col-2">
        <label class="colspan">
          <input class="input" name="customer[email]" value="" autocomplete="email" type="email" placeholder="Email" required />
        </label>

        <div class="colspan">
          <label>
            <input class="input" name="customer[password]" value="" autocomplete="current-password" type="password" placeholder="Password" required />
          </label>
          <div style="text-align: left;">
            <a href="#forgot" class="link"><small>Forgot your password?</small></a>
          </div>
        </div>

        <button class="action colspan">Login</button>
      </fieldset>
    {% endform %}

    <div>
      <a href="{{ routes.account_register_url }}" class="link">Create an account</a>
    </div>
  </section>

  {%- if shop.checkout.guest_login -%}
    {% form 'guest_login' %}
      <button class="link-underline">Continue as guest</button>
    {% endform %}
  {%- endif -%}
</div>
