{{ 'customer.css' | asset_url | stylesheet_tag }}

<section class="page-width-half py-8 px-4 richtext text-center">
  <h1 class="h1">Register</h2>

  {% form 'create_customer' %}
    {{ form_errors | default_errors }}

    <fieldset class="col-2 grid grid-cols-2 gap-2">
      <label class="col-span-full">
        <input class="input" name="customer[first_name]" value="" autocomplete="given-name" type="text" placeholder="First name" required />
      </label>

      <label class="col-span-full">
        <input class="input" name="customer[last_name]" value="" autocomplete="family-name" type="text" placeholder="Last name" required />
      </label>

      <label class="col-span-full">
        <input class="input" name="customer[email]" value="" autocomplete="email" type="email" placeholder="Email" required />
      </label>

      <label class="col-span-full">
        <input class="input" name="customer[password]" value="" autocomplete="new-password" type="password" placeholder="Password" required />
      </label>

      <button class="action col-span-full">Register</button>
    </fieldset>
  {% endform %}

  <p>
    <a href="{{ routes.account_login_url }}" class="link primary">Already have an account?</a>
  </p>
</section>
