{{ 'customer.css' | asset_url | stylesheet_tag }}

<section class="container-half padding richtext text-center">
  <h1 class="h1">Reset password</h2>

  {% form 'reset_customer_password' %}
    {{ form_errors | default_errors }}

    <fieldset class="input-list">
      <label>
        <input class="input" name="customer[password]" value="" autocomplete="new-password" type="password" placeholder="Password" required />
      </label>

      <label>
        <input class="input" name="customer[password_confirmation]" value="" autocomplete="new-password" type="password" placeholder="Confirm password" required />
      </label>

      <button class="action">Reset password</button>
    </fieldset>
  {% endform %}
</section>
