<h1 class="h1">Page not found...</h1>

<p><a class="link primary" href="{{ routes.root_url }}">Go back home</a></p>

{% schema %}
{
  "name": "404",
  "class": "page-width py-8 px-4",
  "settings": [

  ]
}
{% endschema %}
