<h1 class="h1">Page not found...</h1>

<p><a class="link" href="{{ routes.root_url }}">Go back home</a></p>

{% schema %}
{
  "name": "404",
  "class": "container padding",
  "settings": [

  ]
}
{% endschema %}
