<h1 class="h1">{{ blog.title }}</h1>

{%- unless blog.articles == empty -%}
  <ul>
    {%- for article in blog.articles -%}
      <li>
        <a href="{{ article.url }}" class="link">{{ article.title }}</a>
      </li>
    {%- endfor -%}
  </ul>
{%- else -%}
  <p>No posts</p>
{%- endunless -%}

{% schema %}
{
  "name": "Blog",
  "tag": "section",
  "class": "section-blog container section-padding side-padding",
  "settings": [

  ]
}
{% endschema %}
