<h1 class="h1">{{ collection.title }}</h1>

{% render 'collection-filter' %}

<ul>
  {%- for product in collection.products -%}
    <li>
      {% render 'product-item', product: product %}
    </li>
  {%- endfor -%}
</ul>

{% schema %}
{
  "name": "Collection",
  "tag": "article",
  "class": "section-collection container padding-y padding-x",
  "settings": [

  ]
}
{% endschema %}
