<h1 class="h1">{{ collection.title }}</h1>

<ul>
  {%- for product in collection.products -%}
    <li>
      {% render 'product-item', product: product %}
    </li>
  {%- endfor -%}
</ul>

{% schema %}
{
  "name": "Collection",
  "tag": "article",
  "class": "section-collection container section-padding side-padding",
  "settings": [

  ]
}
{% endschema %}
