<h1 class="text-5xl">{{ collection.title }}</h1>

{%- if show_collection_filter -%}
  {% render 'collection-filter' %}
{%- endif -%}

<ul>
  {%- for product in collection.products -%}
    <li>
      {% render 'product-item', product: product %}
    </li>
  {%- endfor -%}
</ul>

{% schema %}
{
  "name": "Collection",
  "tag": "article",
  "class": "section-collection max-w-screen-lg mx-auto py-8 px-4",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_collection_filter",
      "label": "Show collection filter",
      "default": true
    }
  ]
}
{% endschema %}
