{%- if section.settings.navigation.links != blank -%}
  <ul>
    {%- for link in section.settings.navigation.links -%}
      <li>
        <a href="{{ link.url }}" class="link">{{ link.title }}</a>
      </li>
    {%- endfor -%}
  </ul>
{%- endif -%}

<p>&copy; 2021 {{ shop.name }}</p>

{% schema %}
{
  "name": "Footer",
  "tag": "footer",
  "class": "footer",
  "settings": [
    {
      "type": "link_list",
      "id": "navigation",
      "label": "Navigation",
      "default": "footer"
    }
  ]
}
{% endschema %}
