<a href="{{ routes.root_url }}" class="link">
  {{- shop.name -}}
</a>

<a href="{{ routes.cart_url }}" class="link">
  Cart ({{ cart.item_count }})
</a>

<style>
  {%- if section.settings.sticky -%}
    .header { position: sticky; top: 0; }
  {%- endif -%}
</style>

<script defer>
  // set var(--header-height)
  let root = document.documentElement
  let headerHeight = document.querySelector('.header').offsetHeight

  root.style.setProperty('--header-height', `${ headerHeight }px`)
</script>

{% schema %}
{
  "name": "Header",
  "tag": "header",
  "class": "header",
  "settings": [
    {
      "type": "checkbox",
      "id": "sticky",
      "label": "Sticky",
      "default": true
    }
  ]
}
{% endschema %}
