<h1 class="text-5xl">All Collections</h1>

<ul>
  {% for collection in collections %}
    <li>
      <a href="{{ collection.url }}" class="link accent1">
        {{ collection.title }}
      </a>
    </li>
  {% endfor %}
</ul>

{% schema %}
{
  "name": "All Collections",
  "tag": "article",
  "class": "max-w-screen-lg mx-auto py-8 px-4",
  "settings": [

  ]
}
{% endschema %}
