{% form 'customer' %}
  <label>
    <input class="input" name="contact[email]" value="" autocomplete="email" type="email" placeholder="Email" required />
  </label>

  <button class="button">Sign up</button>
{% endform %}

{% schema %}
{
  "name": "Newsletter",
  "tag": "section",
  "class": "container",
  "settings": [

  ]
}
{% endschema %}
