<h1 class="text-5xl">{{ shop.name }}</h1>

{% form 'storefront_password' %}
  {{ form_errors | default_errors }}

  <label>
    <input class="input" name="password" type="password" placeholder="Password" />
  </label>

  <button class="action">Sign in</button>
{% endform %}

{% if shop.password_message != blank %}
  <p>{{ shop.password_message }}</p>
{% endif %}

{% schema %}
{
  "name": "Password",
  "tag": "section",
  "class": "py-8 max-w-screen-md mx-auto py-8 px-4 text-center",
  "settings": [

  ]
}
{% endschema %}
