{{ 'section-password.css' | asset_url | stylesheet_tag }}

<h1 class="h1">{{ shop.name }}</h1>

{% form 'storefront_password' %}
  <label>
    Password

    <input type="password"
      class="input"
      name="password"
    />
  </label>

  <button class="action">Sign in</button>
{% endform %}

{% schema %}
{
  "name": "Password",
  "tag": "section",
  "class": "section-padding container-sm section-padding side-padding text-center",
  "settings": [

  ]
}
{% endschema %}
