{{ 'section-product.css' | asset_url | stylesheet_tag }}

<figure>
  {{ product.images | json }}
</figure>

<div>
  <h1>{{ product.title }}</h1>
  <div class="richtext">
    {{ product.description }}
  </div>
</div>

{% schema %}
{
  "name": "Product",
  "tag": "article",
  "class": "product-template container section-padding side-padding",
  "settings": [

  ]
}
{% endschema %}
