<h1 class="text-5xl">{{ product.title }}</h1>

{%- if product.description -%}
  <div>{{ product.description }}</div>
{%- endif -%}

{% render 'product-form' %}

{%- unless product.images == empty -%}
  <figure>
    {%- for image in product.images -%}
      <img
        {% render 'srcset', image: image, width: 100 %}
        alt="{{ image.alt | default: product.title | escape }}"
        loading="{%- if forloop.first -%}eager{%- else -%}lazy{%- endif -%}"
      />
    {%- endfor -%}
  </figure>
{%- endunless -%}

{% schema %}
{
  "name": "Product",
  "tag": "article",
  "class": "section-product max-w-screen-lg mx-auto py-8 px-4",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_dynamic_checkout",
      "label": "Show dynamic checkout buttons",
      "default": false,
      "info": "[More info](https://help.shopify.com/en/manual/online-store/dynamic-checkout?shpxid=504f73d0-655A-4E82-8958-225D920D5247)"
    }
  ]
}
{% endschema %}
