#forgot:not(:target),
#forgot:target ~ #login,
[id*="address_form"]:not(:target),
[id*="address_form"]:target ~ .hide-on-target {
  display: none;
}

/* inputs */

.col-2 + .col-2 { margin-top: 1rem; }

.col-2 .input { width: 100%; }

/* addresses */

.address-list:empty::before {
  content: 'No addresses';
  opacity: 0.6;
}

.address-item:first-of-type::before {
  content: 'Default';
  position: absolute;
  left: 1rem; top: 0;
  transform: translateY(-50%);
  background-color: #fff;
  box-shadow:
    -0.5ch 0 0 #fff,
    0.5ch 0 0 #fff;
  color: darkgray;
}

.address-item * {
  line-height: 1.3;
}
