.search-form {
  position: relative;
}

.search-suggestions {
  position: absolute;
  left: 0; top: 100%;
  width: 100%;
  padding-inline: 1rem;
  box-sizing: border-box;
  border: 1px solid var(--border);
  background-color: #fff;
  max-height: max(200px, 50vh);
  overflow-y: auto;
}

.search-suggestions:empty {
  display: none;
}

/* group */

.suggestion-group {
  margin-bottom: 1rem;
}

.suggestion-group-title {
  position: sticky;
  top: 0;
  padding-block: 1rem;
  border-bottom: 1px solid var(--border-light);
  background-color: #fff;
  color: var(--text-light);
  text-transform: uppercase;
}

/* item */

.suggestion-item {
  --suggestion-img-size: 50px;
  margin-top: 0.5rem;
}

.suggestion-item-url {
  display: grid;
  grid-template-columns: var(--suggestion-img-size) 1fr;
  align-items: center;
  gap: 0.5rem;
  color: inherit;
  text-decoration: none;
}

.suggestion-item-url:hover .suggestion-item-title {
  color: var(--accent-1);
}

.suggestion-item-img {
  background-color: var(--bg-light);
}

.suggestion-item-img img {
  display: block;
  width: var(--suggestion-img-size);
  height: var(--suggestion-img-size);
  object-fit: contain;
  background-color: #fff;
}

.suggestion-item-img img:not([src]) {
  opacity: 0;
}
