@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .unset {
    all: unset;
    appearance: none;
  }

  .no-scrollbar::-webkit-scrollbar { display: none; }
  .no-scrollbar {
    -ms-overflow-style: none;	/* IE and Edge */
    scrollbar-width: none;	/* Firefox */
  }

  .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
