@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    accent-color: var(--primary-color);
    scroll-behavior: smooth;
  }

  body {
    @apply font-body;
  }

  summary {
    cursor: pointer;
  }

  svg {
    fill: currentColor;
  }

  [disabled] {
    cursor: not-allowed;
    filter: grayscale(1) brightness(0.9);
  }

  ::selection {
    background-color: var(--primary-color-alpha);
  }

  :target {
    scroll-margin-top: var(--header-height);
  }
}

@layer components {
  .page-width {
    @apply max-w-[1000px] mx-auto;
  }
  .page-width-sm {
    @apply max-w-[750px] mx-auto;
  }
  .page-width-half {
    @apply max-w-[500px] mx-auto;
  }
}

@layer utilities {
  .unset {
    all: unset;
    appearance: none;
  }

  .no-scrollbar::-webkit-scrollbar { display: none; }
  .no-scrollbar {
    -ms-overflow-style: none;	/* IE and Edge */
    scrollbar-width: none;	/* Firefox */
  }

  .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
