/* root */

html {
  accent-color: var(--accent-1);
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  color: var(--text);
}

em, i { font-style: italic; }

strong, b { font-weight: bold; }

small { font-size: smaller; }

img {
  height: auto;
  max-width: 100%;
}

hr {
  margin-block: 1em;
  border: 0;
  border-bottom: 1px solid var(--border);
}

[hidden] { display: none; }

[disabled] {
  cursor: not-allowed;
  filter: grayscale(1);
}

::selection {
  background-color: var(--accent-1-alpha);
}

:target {
  scroll-margin-top: var(--header-height);
}

.appearance-reset {
  -webkit-appearance: none;
  appearance: none;
  all: unset;
}

/* layout */

/* desktop-and-up */
@media screen and (min-width: 769px) {
  .tablet { display: none !important; }
}

.container {
  max-width: var(--container-width);
  margin-inline: auto;
}
.container-sm {
  max-width: var(--container-sm-width);
  margin-inline: auto;
}
.container-half {
  max-width: calc(var(--container-width) / 2);
  margin-inline: auto;
}

.section-padding { padding-block: var(--section-padding); }

.side-padding { padding-inline: clamp(1rem, 3vw, 2rem); }

/* typography */

.font-heading {
  font-family: var(--font-heading);
}

.h0, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: var(--font-heading);
}

.h0 { font-size: 4rem; }
.h1 { font-size: 2.5rem; }
.h2 { font-size: 2rem; }
.h3 { font-size: 1.5rem; }

/* colors */

.text-dark { color: var(--text-dark); }
.text-light { color: var(--text-light); }
.text-accent { color: var(--accent-1); }
.text-accent-2 { color: var(--accent-2); }
.text-accent-3 { color: var(--accent-3); }
.text-error { color: var(--error); }

.text-center { text-align: center; }

.bg { background-color: var(--bg); }
.bg-dark { background-color: var(--bg-dark); }

/* actions */

.accent-2 {
  --accent: var(--accent-2);
  --accent-dark: var(--accent-2-dark);
}
.accent-3 {
  --accent: var(--accent-3);
  --accent-dark: var(--accent-3-dark);
}

.link {
  cursor: pointer;
  color: var(--accent, var(--accent-1));
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link-underline {
  cursor: pointer;
  color: var(--accent, var(--accent-1));
  text-decoration: underline;
}

.link-underline:hover {
  text-decoration-thickness: 2px;
}

:is(.link, .link-underline):active {
  color: var(--accent-dark, var(--accent-1-dark));
}

.button,
.action,
.action-alt {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  display: inline-block;
  padding: var(--button-padding);
  border: 1px solid;
  outline: none;
  background-color: #fff;
  text-decoration: none;
  text-align: center;
  font: inherit;
}

:is(.button, .action, .action-alt):focus {
  box-shadow: var(--outline);
}

.button {
  border-color: var(--border);
  color: inherit;
}

.button:hover { border-color: var(--border-dark); }
.button:hover:focus { border-color: var(--accent-1-dark); }

:is(.action, .action-alt).lg { padding: var(--button-padding-lg); }
:is(.action, .action-alt).full {
  box-sizing: border-box;
  width: 100%;
}

.action {
  border-radius: 4em;
  border-color: var(--accent, var(--accent-1));
  background-color: var(--accent, var(--accent-1));
  color: #fff;
}

.action:hover {
  border-color: var(--accent-dark, var(--accent-1-dark));
  background-color: var(--accent-dark, var(--accent-1-dark));
}

.action-alt {
  border-radius: 4em;
  border-color: currentColor;
  color: var(--accent, var(--accent-1));
}

.action-alt:hover {
  color: var(--accent-dark, var(--accent-1-dark));
}

/* forms */

::placeholder {
  color: var(--text-light);
  opacity: 1;
}

.input {
  -webkit-appearance: none;
  appearance: none;
  box-sizing: border-box;
  padding: 0.25em 0.5em;
  outline: none;
  border: 1px solid var(--border);
  border-radius: 0;
  background-color: inherit;
  color: inherit;
  font: inherit;
}

.input:hover {
  border-color: var(--border-dark);
}

.input:focus {
  border-color: var(--accent-1-dark);
  box-shadow: var(--outline);
}

.input:invalid:not([value=""]) {
  border-color: var(--error);
}

.input[disabled] {
  background-color: var(--bg);
  color: var(--text-light);
  border-color: inherit;
}

/* utils */

.sticky {
  position: sticky;
  top: calc(var(--header-height));
}

/* header */

#shopify-section-header {
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-template-areas: 'logo search menu actions';
  align-items: center;
  background-color: var(--bg-dark);
}

.header-logo {
  grid-area: logo;
  display: inline-block;
  width: 180px;
}

.header-search {
  grid-area: search;
}

.header-actions {
  grid-area: actions;
}

.header-menu {
  grid-area: menu;
}

/* tablet */
@media screen and (max-width: 768px) {
  #shopify-section-header {
    grid-template-columns: repeat(3, auto);
    grid-template-areas:
      'logo     logo    actions'
      'trigger  search  search'
      'menu     menu    menu';
  }

  .header-logo {
    width: 120px;
  }
}

/* footer */

#shopify-section-footer {}

/* richtext */

.richtext {
  line-height: 1.3;
}

.richtext > * + * {
  margin-top: 1rem;
}

.richtext > :is(h1, h2, h3, h4, h5, h6) {
  font-family: var(--font-heading);
}

.richtext > :is(h1, h2, h3, h4, h5, h6):not(:first-child),
.richtext > :is(.h1, .h2, .h3, .h4, .h5, .h6):not(:first-child) {
  margin-top: 2rem;
}

.richtext > ul {
  list-style-type: disc;
  padding-left: 2em;
}

.richtext > ol {
  list-style-type: decimal;
  padding-left: 2em;
}
