/* root */

::selection {
  background-color: var(--accent-1-alpha);
}

html {
  accent-color: var(--accent-1);
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  color: var(--text);
}

em, i { font-style: italic; }

strong, b { font-weight: bold; }

img {
  max-width: 100%;
  height: auto;
}

/* layout */

.container {
  max-width: var(--container-width);
  margin-inline: auto;
}
.container-sm {
  max-width: var(--container-sm-width);
  margin-inline: auto;
}

.section-padding { padding-block: var(--section-padding); }

.side-padding { padding-inline: clamp(1rem, 3vw, 2rem); }

/* typography */

.font-heading {
  font-family: var(--font-heading);
}

.h0, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: var(--font-heading);
}

.h0 { font-size: 4rem; }
.h1 { font-size: 2.5rem; }
.h2 { font-size: 2rem; }
.h3 { font-size: 1.5rem; }

/* colors */

.text-dark { color: var(--text-dark); }
.text-light { color: var(--text-light); }

.bg { background-color: var(--bg); }
.bg-dark { background-color: var(--bg-dark); }

/* actions */

.link {
  color: var(--accent-1);
}

.link:hover {
  text-decoration-thickness: 2px;
}

.link:active {
  color: var(--accent-1-dark);
}

.button,
.action,
.action-alt {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  display: inline-block;
  padding: var(--button-padding);
  border: 1px solid;
  outline: none;
  background-color: #fff;
  text-decoration: none;
  text-align: center;
  font: inherit;
}

:is(.button, .action, .action-alt):focus {
  box-shadow: var(--outline);
}

.button {
  border-color: var(--border);
  color: inherit;
}

.button:hover { border-color: var(--border-dark); }
.button:hover:focus { border-color: var(--accent-1-dark); }

:is(.action, .action-alt).lg { padding: var(--button-padding-lg); }
:is(.action, .action-alt).full { width: 100%; }

.action {
  border-color: var(--accent-1);
  background-color: var(--accent-1);
  color: #fff;
}

.action:hover {
  border-color: var(--accent-1-dark);
  background-color: var(--accent-1-dark);
}

.action-alt {
  border-color: currentColor;
  color: var(--accent-1);
}

.action-alt:hover {
  color: var(--accent-1-dark);
}

.input {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  border: 1px solid var(--border);
  font: inherit;
}

.input:focus {
  border-color: var(--accent-1-dark);
  box-shadow: var(--outline);
}

/* richtext */

.richtext {
  line-height: 1.3;
}

.richtext > * + * {
  margin-top: 1rem;
}

.richtext > :is(h1, h2, h3, h4, h5, h6) {
  font-family: var(--font-heading);
}

.richtext > :is(h1, h2, h3, h4, h5, h6):not(:first-child),
.richtext > :is(.h1, .h2, .h3, .h4, .h5, .h6):not(:first-child) {
  margin-top: 2em;
}

.richtext > ul {
  list-style-type: disc;
  padding-left: 2em;
}

.richtext > ol {
  list-style-type: decimal;
  padding-left: 2em;
}

/* utils */

.sticky {
  position: sticky;
  top: calc(var(--header-height));
}

/* header */

.header {
  position: relative;
  z-index: 10;
}

/* footer */

.footer {}
