@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    accent-color: var(--primary-color);
    scroll-behavior: smooth;
  }

  body {
    @apply font-body;
  }

  summary {
    cursor: pointer;
  }

  svg {
    fill: currentColor;
  }

  [disabled] {
    cursor: not-allowed;
    filter: grayscale(1) brightness(0.9);
  }

  ::selection {
    background-color: var(--primary-color-alpha);
  }

  :target {
    scroll-margin-top: var(--header-height);
  }
}

@layer components {
  .page-width { @apply max-w-[1000px] mx-auto; }
  .page-width-sm { @apply max-w-[750px] mx-auto; }
  .page-width-half { @apply max-w-[500px] mx-auto; }

  /* typography */

  .h0 { @apply font-heading text-6xl; }
  .h1 { @apply font-heading text-5xl; }
  .h2 { @apply font-heading text-2xl; }
  .h3 { @apply font-heading text-xl; }
  .h4 { @apply font-heading text-xs; }

  /* links, actions, buttons */

  .primary {
    --accent: var(--primary-color);
    --accent-dark: var(--primary-color-dark);
  }
  .secondary {
    --accent: var(--secondary-color);
    --accent-dark: var(--secondary-color-dark);
  }

  .link {
    color: var(--accent, inherit);
    @apply no-underline hover:underline active:underline-thick;
  }

  .link-underline {
    color: var(--accent, inherit);
    @apply underline hover:underline-thick;
  }

  :is(.link, .link-underline):active {
    color: var(--accent-dark);
  }

  .action,
  .action-alt,
  .button {
    border: 1px solid;
    @apply appearance-none inline-block py-2 px-4 bg-white no-underline text-center focus:ring;
  }

  .action {
    border-color: var(--accent, var(--primary-color));
    background-color: var(--accent, var(--primary-color));
    color: #fff;
  }
  .action:hover {
    border-color: var(--accent-dark, var(--primary-color-dark));
    background-color: var(--accent-dark, var(--primary-color-dark));
  }

  .action-alt {
    color: var(--accent, var(--primary-color));
    @apply border-current;
  }
  .action-alt:hover {
    color: var(--accent-dark, var(--primary-color-dark));
  }

  :is(.action, .action-alt).lg { @apply py-4 px-6; }
  :is(.action, .action-alt).full { @apply box-border w-full; }

  .button { @apply border-gray-300 hover:border-gray-400 focus:border-gray-400; }

  /* inputs */

  .input {
    @apply box-border py-1 px-2 outline-none bg-white border border-gray-300 hover:border-gray-400 focus:ring focus:border-gray-400;
  }
  .input:invalid:not([value=""]) { @apply border-red-500; }

  /* paragraph, richtext */

  :is(.paragraph, .richtext) > * + * { margin-top: 1em; }

  .richtext > :is(h1,h2,h3,h4,h5,h6) { @apply font-heading; }

  .richtext ul { @apply pl-[2em] list-disc; }
  .richtext ol { @apply pl-[2em] list-decimal; }

  .richtext a { @apply text-primary underline hover:underline-thick active:text-primary-dark; }

  .richtext blockquote { @apply pl-[1em] border-l-4 border-gray-300; }

  .richtext table { @apply w-full border border-gray-400 text-center; }

  .richtext thead { @apply border border-b border-gray-400; }
  .richtext tfoot { @apply border border-t border-gray-400; }

  .richtext th { @apply align-middle py-4 px-6 text-gray-300 uppercase; }
  .richtext td { @apply align-middle py-1 px-6; }

  .richtext tfoot tr:first-child td { @apply pt-4; }
  .richtext tfoot tr:last-child td { @apply pb-4; }

  .richtext tfoot td[colspan] { @apply text-right; }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar { display: none; }
  .no-scrollbar {
    -ms-overflow-style: none;	/* IE and Edge */
    scrollbar-width: none;	/* Firefox */
  }

  .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .underline-thick {
    text-decoration-thickness: 2px;
  }

  .sticky-below-header {
    top: calc(var(--header-height));
  }
}

/* quantity selector */

.qty-inputs {
  grid-template-columns: 1fr auto 1fr;
  @apply grid max-w-max border border-gray-300 hover:border-gray-400 focus-within:border-gray-400 focus-within:ring;
}

.qty-inc {
  @apply py-2 px-4 font-mono hover:text-primary;
}

.qty-value {
  -moz-appearance: textfield;
  @apply py-2 text-center;
}

/* blog */

.article-item-img > :is(img, div, svg) {
  @apply w-full h-[200px] object-cover;
}

.article-tag-list {
  @apply text-sm font-heading uppercase;
}

.article-tag-list li:not(:last-child)::after { content: ', '; }

.article-tag-list.show-label::before { content: 'Tags: '; }

/* predictive search */

.search-suggestions {
  max-height: max(200px, 50vh);
  @apply absolute z-[1] left-0 top-full w-full px-4 box-border border border-gray-400 bg-white overflow-y-auto;
}

.search-suggestions:empty { display: none; }

.suggestion-group-title {
  @apply sticky top-0 py-4 border-b border-gray-300 bg-white text-gray-400 uppercase;
}

.suggestion-item {
  --suggestion-img-size: 50px;
  @apply mt-2;
}

.suggestion-item-url {
  grid-template-columns: var(--suggestion-img-size) 1fr;
  color: inherit;
  @apply grid items-center gap-2 no-underline;
}

.suggestion-item-url:hover .suggestion-item-title {
  @apply text-primary;
}

.suggestion-item-img {
  @apply bg-gray-100;
}

.suggestion-item-img img {
  width: var(--suggestion-img-size);
  height: var(--suggestion-img-size);
  @apply block object-contain bg-white;
}

.suggestion-item-img img:not([src]) {
  opacity: 0;
}
